body {background-image: url("received_524494006537666.jpeg");
	background-size: 1300px 700px;
	background-attachment: fixed;
}

p {	background-image: url("c6923fe114e32958209c111a9aa30d6c.jpg");
	background-size: cover;
	text-align:justify;
	margin-left:100px;
	margin-right:100px;
	font-family: Verdana;
	color: darkgreen;
}

h2 {	background-image: url("received_1027677584879779.jpeg");
	background-size: cover;
	font-family:Arial;
	color:FireBrick;
}

footer {	background-image: url("26cfe4a840dc71ab42640a350fb7b5a2.jpg");
		background-size: cover;

}